
<div class="app-movil-container">
  <h1>Descarga nuestra aplicación móvil</h1>
  <p>¡Bienvenido a nuestra aplicación móvil! Descarga nuestra aplicación para acceder a características exclusivas y una experiencia personalizada.</p>
  <div class="download-links">
    <a href="https://example.com/android" target="_blank">
      <img src="./assets/img/QRejemplo.png" alt="Descarga">
    </a>
    <a href="https://example.com/ios" target="_blank">
      <img src="./assets/img/app-movil.png" alt="Resto app">
    </a>
  </div>
  <p>¿Necesitas ayuda? Contáctanos en support Restpapp@gmail.com</p>
</div>
