
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0c0f0e;
    color:#ffffff;
    font-weight: bold; 
}

.pre-footer{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
    width: 100%;
}
.pre-footer p{
    margin: auto;
    font-family: 'PoetsenOne-Regular';
}

.logo{
    width: 3%;
    margin: 0 1em;
}

.icons i{
    font-size: 20px;
    color: #ffffff;
    margin-right: 2vw;

}

.legales{
   text-align: end;
   padding: 1vh 0 1vh 0;
   width: 100%;
}

.legales a {
    margin-right: 2vw;
    font-family: 'PoetsenOne-Regular';
}

hr{
    width: 90%;
}

@media only screen and (max-width: 768px) {
    .pre-footer {
        justify-content: center;
        align-items: center;
    }

    .pre-footer > * {
        margin: 0 .5em;
    }

    .pre-footer p {
        font-size: .8em;
        text-align: center;
    }

    .icons {
        display: flex;
    }

    .logo{
        width: 10%
    }

    .legales{
        text-align: center;
     }


}