<footer>
  <div class="pre-footer">
    <div class="icons">
      <a href=""><i class="fa fa-facebook"></i></a>
      <a href=""><i class="fa fa-instagram"></i></a>
      <a href=""><i class="fa fa-linkedin"></i></a>
      <p style="text-align: center;">©2023 · Todos los derechos reservados | Desarrollado por <a href="#" class="link-warning">Tuwebapp<img src="assets/img/logo10.png" class="logo" alt="" /></a></p>
    </div>
    
  </div>
  <div class="legales" style="text-align: center;">
    <a href="#" class="link-light">Política de privacidad</a>
    <a href="#" class="link-light">Política de cookies</a>    
    <a href="#" class="link-light">Aviso Legal</a>
  </div>
 
 
</footer>
