
<main class="main-menu">

    <section class="contact-container">
      <div class="container">
        <div class="section-header text-center">
          <h1>Contactanos por cualquier consulta!</h1>
        </div>
        <div class="row align-items-center contact-info-wrapper">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="contact-info">
              <a href="https://goo.gl/maps/CRGbdsb5X99WVVuq7" class="contact-link" target="_blank">
                <img src="./assets/img/map.png" width="39" height="37" alt="" />
                <p>Dirección</p>
              </a>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="contact-info">
              <a href="https://wa.me/5493512292336?text=Me%20gustaría%20hacer%20una%20consulta" class="contact-link"
                target="_blank">
                <img src="assets/img/whatsapp.png" width="37" height="37" alt="" />
                <p>WhatsApp</p>
              </a>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="contact-info">
              <a href="mailto:matias.pedernerax8@gmail.com?Subject=Tengo%20una%20consulta!" class="contact-link"
                target="_blank">
                <img src="assets/img/email.png" width="39" height="37" alt="" />
                <p>Email</p>
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="row contact-form">
        <div class="col-md-6">
          <div class="responsive-map"><iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d212.7856055019703!2d-64.1805817!3d-31.4259799!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a291a123193d%3A0xbcfc443b98466626!2sParan%C3%A1%20671%2C%20X5000HXM%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1668430023122!5m2!1ses!2sar"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <form name="sentMessage" id="contactForm" novalidate="novalidate">
            <div class="control-group">
              <input type="text" class="form-control" id="name" placeholder="Nombre" required="required"
                data-validation-required-message="Please enter your name" />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <input type="email" class="form-control" id="email" placeholder="Email" required="required"
                data-validation-required-message="Please enter your email" />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <input type="text" class="form-control" id="subject" placeholder="Asunto" required="required"
                data-validation-required-message="Please enter a subject" />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <textarea name="message" required="required" class="form-control" id="message" placeholder="Mensaje"
                data-validation-required-message="Please enter your message"></textarea>
              <p class="help-block text-danger"></p>
            </div>
            <div>
              <button class="btn custom-btn" type="submit" id="Enviar Mensaje">Enviar mensaje</button>
            </div>
          </form>
        </div>
      </div>
      
    </section>
    
      <div class="container">

        <div class="col-lg-5">

          <div class="suscription-container">
            <h2>Suscríbase para promociones </h2>
            <p> Aprovecha los beneficios e informate desde la tranquilidad de tu casa. Accede a informacion exclusiva
              desde todos tus dispositivos y ahorra con nuestras ofertas.</p>
            <div class="form suscription-form">
              <input class="form-control" placeholder="Escriba su email">
              <button class="btn custom-btn suscription">Suscribirse</button>
            </div>
          </div>
        </div>
     