:root {
  --color1: #e38b29;
  --color2: #f1a661;
  --color3: #ffd8a9;
  --color4: #fdeedc;
  --color5: #0c0f0e;

  --bg-opacity: rgba(255, 255, 0, 0.341);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: var(--color4) !important;
}

/* LINKS */

a {
  text-decoration: none !important;
  color: #000000 !important;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

/* BARRA DE NAVEGACION */

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar {
  background-color: var(--color5);
  box-shadow: 2px 2px 10px #000000;
  position: fixed;
  width: 100%;
}

.nav-item a {
  color: white !important;
  font-weight: bold;
}

.nav-item a:hover {
  color: var(--color1) !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background-color: var(--color1) !important;
}
/* HOME */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.home-container {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family1);
  margin: auto;
  width: 100vm;
}

.welcome-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.welcome-home h1 {
  color: var(--color4);
  font-weight: bold;
  font-size: 4rem;
  padding: 1rem;
  border-radius: 40px;
}

.welcome-home h3 {
  color: var(--color1);
  font-size: 1.5rem;
  border-radius: 40px;
  padding: 0.5rem;
}

.delivery-button {
  padding: 0.8em 1.8em;
  border: none;
  box-shadow: 4px 4px 4px #000000;
  position: relative;
  overflow: hidden;
  background-color: var(--color1);
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #000000;
  font-weight: bold;
  width: 25%;
  margin: 8vh 0 2vh 0;
}
.delivery-button::before {
  content: "";
  width: 0;
  height: 45vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--color3);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.delivery-button:hover::before {
  width: 105%;
}

.local-button {
  padding: 0.8em 1.8em;
  border: none;
  box-shadow: 4px 4px 4px #000000;
  position: relative;
  overflow: hidden;
  background-color: var(--color3);
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #000000;
  font-weight: bold;
  width: 25%;
}

.local-button::before {
  content: "";
  width: 0;
  height: 45vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--color1);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.local-button:hover::before {
  width: 105%;
}

.local-button a {
  text-decoration: none;
  color: #000000;
}
.local-button a:hover {
  color: #000000;
}

/* CAROUSEL */

.carousel-item {
  z-index: -1;
  position: relative;
}

.img-carousel {
  height: 100vh;
  object-fit: cover;
}

/* MENÚ */

.logo {
  width: 50px;
}

/* BUSQUEDA */
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 40%;
  padding: 0.5rem;
  /* background-color: var(--color4); */
  border-radius: 10px;
}
.search-container input {
  border-radius: 10px;
  padding: 5px;
}

.search-container img {
  width: 10%;
  height: 5vh;
}

/* ORDEN */
.order-container {
  display: flex;
  width: 30%;
}
.order-container select {
  border: none;
}
.order-container h3 {
  font-size: medium;
  margin-bottom: 0;
}

/* PRODUCTOS */

.product-card {
  height: 30vh;
}

.accordion-button {
  background-color: var(--color2) !important;
  height: 12vh;
  font-size: 1.5rem !important;
  font-weight: bold;
  display: flex;
}

.img-card {
  height: 90%;
  width: 90%;
}

/* CARRITO */

.cart-products {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cart-product {
  margin: 1vh 0 1vh 0;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.cart-img {
  width: 25%;
  border-radius: 10px 10px 10px 10px;
}

.cart-trash {
  width: 10%;
  height: 6vh;
  border: none;
  background-color: transparent;
}
.cart-trash img {
  width: 100%;
}

.button-endOrder {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: var(--color4);
  border: 1px solid var(--color4);
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button-endOrder:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button-endOrder:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button-endOrder:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--color1);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button-endOrder:hover {
  color: #ffffff;
  border: 1px solid var(--color1);
}

.button-endOrder:hover:before {
  top: -35%;
  background-color: var(--color1);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button-endOrder:hover:after {
  top: -45%;
  background-color: var(--color1);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-carrito {
  position: fixed;
  height: 8vh;
  bottom: 20px;
  right: 20px;
}

footer {
  background-color: var(--color3);
  margin: -2rem;
  margin-top: 100px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
}
.wrap-footer {
  display: grid;
  grid-template-columns: 75% 15% 15% 20%;
  column-gap: 5%;
  padding: 2rem;
  margin: -2rem auto;
  max-width: 1200px;
}
.logo-element_footer {
  display: flex;
  margin: 3rem 0;
}
.logo-element_footer img {
  max-height: 70px;
}
.element-footer h5 {
  margin: 1rem 0;
}
.text-element-footer li {
  line-height: 2;
}
.link-elements-footer li a {
  color: #ffc300;
}
.rrss-element-footer ul {
  display: flex;
}
.rrss-element-footer img {
  width: 35px;
}
.rrss-element-footer li {
  margin-right: 1.3rem;
}
.footer-creds {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  color: #576171;
  font-size: 0.9rem;
  max-width: 1200px;
  margin: 0 auto;
}
.legal-creds ul {
  display: flex;
  flex-flow: row;
}
.legal-creds ul li {
  padding-right: 2rem;
}
.legal-creds ul a {
  color: #576171;
  font-size: 0.9rem;
}

/* MEDIA QUERIES */

/* TABLET */

@media only screen and (max-width: 768px) {
  /* BARRA DE NAVEGACION */

  /* span.navbar-toggler-icon{
    background-image: none;
  } */

  .navbar {
    box-shadow: none;
  }

  .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .navbar-brand {
    margin-left: 20px;
  }

  .navbar-toggler {
    margin-right: 30px;
  }

  .navbar-collapse {
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 999;
    background-color: var(--color5);
    height: 20vh;
  }
  .nav-item .nav-link {
    color: var(--color4) !important;
    font-size: 18px;
  }

  /* CARTA */

  .cart-container {
    display: none;
  }

  /* index */
  .welcome-home h1 {
    font-size: 32px;
  }

  .welcome-home h3 {
    font-size: 14px;
  }
  .local-button {
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
  }
  .delivery-button {
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
  }

  .wrap-footer {
    grid-template-columns: 55% 15% 15% 20%;
  }
}

/* MOBILE */

@media only screen and (max-width: 425px) {
  /* CARTA */

  .main-menu {
    padding: 0;
  }

  .filter-container {
    flex-direction: column;
  }

  .offcanvas-filters {
    display: block;
    margin-top: 8vh;
    text-align: center;
  }

  .search-container {
    width: 100vw;
    position: fixed;
    margin-top: 28vh;
    z-index: 998;
    background-color: var(--color1);
    height: 10vh;
    padding: 1rem;
    border-radius: 0;
  }

  .search-container form {
    width: 100%;
  }

  .filter {
    display: none;
  }
  .order-container {
    width: 100%;
    justify-content: flex-end;
    display: none;
  }
  .order-container h3 {
    font-weight: bold;
  }
  .order-container select {
    background-color: var(--color3);
  }
  .left-container {
    width: 100%;
    padding: 0;
  }

  .product-container {
    margin-top: 4vh;
  }
  .product-card {
    height: auto;
    padding: 0.5rem;
  }

  .accordion-body {
    padding: 0 !important;
  }

  .img-card {
    height: 45vh;
    width: 100%;
  }

  .card-title {
    margin: 2vh 0 0 0;
    text-align: center;
  }

  .card-text {
    margin: 2vh 0 2vh 0 !important;
    text-align: center;
  }

  .product-buttons {
    display: flex;
    justify-content: space-evenly;
  }

  /* CARRITO */

  tr .border-0 {
    font-size: 10px;
    padding: 0 !important;
  }

  tr .border-0 div {
    /* width: 10%; */
    text-align: center;
    padding: 0 2vw 3vh 0 !important;
  }

  .title-cart {
    font-size: 15px;
    margin: 3vh 0 3vh 0;
  }

  td .borrar-carrito {
    height: 6vh;
    font-size: 13px;
  }

  tbody td {
    text-align: center;
  }

  .wrap-footer {
    grid-template-columns: 35% 15% 15% 20%;
  }

  .footer-creds {
    padding: 0;
  }
}
