
<div *ngIf="popupVisible" class="popup">
  <div class="popup-content">
    <img [src]="popupImageSrc" alt="Imagen del espectáculo" class="popup-image">
    <h3 class="popup-title">{{ popupTitle }}</h3>
    <p class="popup-date">{{ popupDate }}</p>
    <p class="popup-description">{{ popupDescription }}</p>
    <button class="close-button" (click)="closePopup()">Cerrar</button>
  </div>
</div>


<div class="container">
  <div class="banner">
    <img src="./assets/img/image_hero.jpg" alt="Chef cocinando" class="aboutUs-img" />
    <h1>DISFRUTA NUESTROS SHOWS!</h1>
  </div>
  
  <h2 class="subtitulo">Próximos Shows en tu lugar favorito!</h2>
    
  <div class="grid-container">
    <!-- Show Acústico -->
    <div class="show-card">
      <img src="assets/img/imagen_acustico.jpg" alt="Imagen del Show Acústico">
      <h3>Noche de Acordes</h3>
      <p>Fecha: 10 de junio de 2024</p>
      <button class="details-button" (click) = "openPopup('Noche de Acordes', '10 de junio de 2024', 'Show Acústico a cargo de la banda &quot;Ese Trio&quot;', 'assets/img/imagen_acustico.jpg')">Detalles</button>
    </div>
  
    <!-- Show de Comedia -->
    <div class="show-card">
      <img src="assets/img/imagen_comedia.jpg" alt="Imagen del Show de Comedia">
      <h3>Noche de Risas</h3>
      <p>Fecha: 15 de junio de 2024</p>
      <button class="details-button" (click) = "openPopup('Noche de Risas', '15 de junio de 2024', 'Show De Comedia a cargo de Yayo', 'assets/img/imagen_comedia.jpg')">Detalles</button>

    </div>
  
    <!-- Show de Piano -->
    <div class="show-card">
      <img src="assets/img/imagen_piano.jpg" alt="Imagen del Show de Piano">
      <h3>Melodías de Piano</h3>
      <p>Fecha: 20 de junio de 2024</p>
      <button class="details-button" (click) = "openPopup('Melodías de Piano', '20 de junio de 2024', 'Concierto de Piano de la mano de Bruno Gelber', 'assets/img/imagen_piano.jpg')">Detalles</button>

    </div>
  
    <!-- Show de Magia -->
    <div class="show-card">
      <img src="assets/img/imagen_magia.jpg" alt="Imagen del Show de Magia">
      <h3>Magia inmersiva</h3>
      <p>Fecha: 25 de junio de 2024</p>
      <button class="details-button" (click) = "openPopup('Magia inmersiva', '25 de junio de 2024', 'Sentite parte de la Magia con David Copperfield', 'assets/img/imagen_magia.jpg')">Detalles</button>
      >
    </div>
  
    <!-- Show de Rock -->
    <div class="show-card">
      <img src="assets/img/imagen_rock.jpg" alt="Imagen del Show &quot;Ultramar&quot;">
      <h3>Rock en vivo!</h3>
      <p>Fecha: 30 de junio de 2024</p>
      <button class="details-button" (click) = "openPopup('Rock en vivo!', '30 de junio de 2024', 'Rock en vivo de la mano de la banda Ultramar', 'assets/img/imagen_rock.jpg')">Detalles</button>

    </div>
  
    <!-- Show de Flamenco -->
    <div class="show-card">
      <img src="assets/img/imagen_flamenco.jpg" alt="Imagen del Show de Flamenco">
      <h3>Pasión Flamenca</h3>
      <p>Fecha: 5 de julio de 2024</p>
      <button class="details-button" (click) = "openPopup('Pasión Flamenca', '5 de julio de 2024', 'Show De Flamenco a cargo del ballet de Sevilla', 'assets/img/imagen_flamenco.jpg')">Detalles</button>

    </div>

    
    <div class="show-card">
      <img src="assets/img/imagen_magia_comica.jpg" alt="Imagen del magia comica">
      <h3>Magia y Comedia</h3>
      <p>Fecha: 10 de julio de 2024</p>
      <button class="details-button" (click) = "openPopup('magia y Comedia', '10 de julio de 2024', 'Magia y risas con diferentes magos en ascenso', 'assets/img/imagen_magia_comica.jpg')">Detalles</button>

    </div>

      
      
    <div class="show-card">
      <img src="assets/img/imagen_danza_urbana.jpg" alt="Imagen del show urbano">
      <h3>Danza Urbana</h3>
      <p>Fecha: 15 de julio de 2024</p>
      <button class="details-button" (click) = "openPopup('Danza Urbana', '15 de julio de 2024', 'Show de Danza Urbana con el ballet &quot;Urbano Daance&quot; ', 'assets/img/imagen_danza_urbana.jpg')">Detalles</button>

    </div>
  </div>
</div>



  