<div class="container">
    <div class="banner">
        <img src="./assets/img/image_hero.jpg" alt="Chef cocinando" class="aboutUs-img" />
        <h1>DISFRUTA NUESTROS SHOWS!</h1>
      </div>
  
    <h2 class="subtitulo">Próximos Shows en nuestro lugar favorito!</h2>
    <p>Aquí puedes encontrar información sobre los próximos shows:</p>
  
    <div class="grid-container">
      <!-- Show Acústico -->
      <div class="show-card">
        <img src="assets/img/imagen_acustico.jpg" alt="Imagen del Show Acústico">
        <h3>Noche de Acordes</h3>
        <p>Fecha: 10 de junio de 2024</p>
        <button class="details-button">Detalles</button>
      </div>
  
      <!-- Show de Comedia -->
      <div class="show-card">
        <img src="assets/img/imagen_comedia.jpg" alt="Imagen del Show de Comedia">
        <h3>Risas Garantizadas</h3>
        <p>Fecha: 15 de junio de 2024</p>
        <button class="details-button">Detalles</button>
      </div>
  
      <!-- Show de Piano -->
      <div class="show-card">
        <img src="assets/img/imagen_piano.jpg" alt="Imagen del Show de Piano">
        <h3>Melodías de Piano</h3>
        <p>Fecha: 20 de junio de 2024</p>
        <button class="details-button">Detalles</button>
      </div>
  
      <!-- Show de Magia -->
      <div class="show-card">
        <img src="assets/img/imagen_magia.jpg" alt="Imagen del Show de Magia">
        <h3>Misterios y Maravillas</h3>
        <p>Fecha: 25 de junio de 2024</p>
        <button class="details-button">Detalles</button>
      </div>
  
      <!-- Show de Rock -->
      <div class="show-card">
        <img src="assets/img/imagen_rock.jpg" alt="Imagen del Show Ultramar">
        <h3>Rock en vivo!</h3>
        <p>Fecha: 30 de junio de 2024</p>
        <button class="details-button">Detalles</button>
      </div>
  
      <!-- Show de Flamenco -->
      <div class="show-card">
        <img src="assets/img/imagen_flamenco.jpg" alt="Imagen del Show de Flamenco">
        <h3>Pasión Flamenca</h3>
        <p>Fecha: 5 de julio de 2024</p>
        <button class="details-button">Detalles</button>
      </div>

    
      <div class="show-card">
        <img src="assets/img/imagen_magia_comica.jpg" alt="Imagen del magia comica">
        <h3>Show de Magia Cómica</h3>
        <p>Fecha: 10 de julio de 2024</p>
        <button class="details-button">Detalles</button>
      </div>

      
      
      <div class="show-card">
        <img src="assets/img/imagen_danza_urbana.jpg" alt="Imagen del show urbano">
        <h3>Exhibición de Danza Urbana</h3>
        <p>Fecha: 15 de julio de 2024</p>
        <button class="details-button">Detalles</button>
      </div>
    </div>
  </div>
  