<div class="banner">
  <img src="./assets/img/banner.jpg" alt="Chef cocinando" class="aboutUs-img" />
  <h1>SOBRE NOSOTROS</h1>
</div>
<div class="about-container">
  <img src="./assets/img/img-about.jpg" class="img-about" alt="" />
  <div class="text-container">
    <h2 class="title-about">
      CONSTRUIMOS UN LUGAR PARA DISFRUTAR, CONOCER Y REVALORIZAR, PARA VER EL
      FUTURO DE NUESTRA GASTRONOMÍA.
    </h2>
    <p>
      Somos un restaurante que cuenta historias para despertar y contagiar el
      orgullo de ser guatemalteco <br /><br />Soñamos con mostrarle al mundo
      nuestra Guatemala y sabemos que para lograrlo es importante que los
      guatemaltecos conozcamos y apreciemos lo nuestro.<br /><br />
      En este pedacito de tierra bendito con más de 360 microclimas y más de 35
      volcanes crece una inmensa diversidad de ingredientes, y esto se refleja
      en la riqueza de nuestra gastronomía. Y esta gastronomía nace de una
      cultura milenaria y viva, compartirla es un orgullo.
    </p>
  </div>
</div>
<section class="history-section">
  <img src="./assets/img/img-historia.jpg" alt="" />
  <div class="text-container">
    <h3>Nuestra historia</h3>
    <p class="history-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus orci,
      auctor pretium eros nec, tincidunt tincidunt sapien. Duis tincidunt vitae
      nibh sit amet facilisis. Maecenas id tortor in tellus ultrices rutrum
      commodo quis turpis.<br /><br />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus orci,
      auctor pretium eros nec, tincidunt tincidunt sapien. Duis tincidunt vitae
      nibh sit amet facilisis. Maecenas id tortor in tellus ultrices rutrum
      commodo quis turpis.<br /><br />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus orci,
      auctor pretium eros nec, tincidunt tincidunt sapien. Duis tincidunt vitae
      nibh sit amet facilisis. Maecenas id tortor in tellus ultrices rutrum
      commodo quis turpis.
    </p>
  </div>
</section>
<section class="team-section">
  <p>Nuestro Equipo</p>
  <h3>Conocé Nuestros Chefs</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem similique
    nam nostrum ea ad, impedit ullam eligendi adipisci vitae cumque sit
    accusantium neque omnis rerum praesentium quisquam tenetur nesciunt eveniet.
  </p>
  <div class="cards-container">
    <div class="card mb-3">
      <img src="./assets/img/chef1.jpg" class="chefCard-img" />
      <div class="card-body">
        <h5 class="card-title">Martín Regrán</h5>
        <h6>Chef de cocina</h6>
        <div class="icons-container">  
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-instagram"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <img src="./assets/img/chef2.jpg" class="chefCard-img" />
      <div class="card-body">
        <h5 class="card-title">Fernanda Simes</h5>
        <h6>Sous chef</h6>
        <div class="icons-container">  
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-instagram"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <img src="./assets/img/chef3.jpg" class="chefCard-img" />
      <div class="card-body">
        <h5 class="card-title">Marco Villafañe</h5>
        <h6>Línea de cocina</h6>
        <div class="icons-container">  
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-instagram"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <img src="./assets/img/chef4.jpg" class="chefCard-img" />
      <div class="card-body">
        <h5 class="card-title">Rocío Zárate</h5>
        <h6>Línea de cocina</h6>
        <div class="icons-container">  
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-instagram"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
