<div class="nuestra-app-container">
  <div class="banner">
    <div class="parte">
      <h2>Descarga la</h2>
      <div class="datos-app">
        <img
          src="/assets/img/PageNuestraApp/frame.png"
          alt="Logo RestoApp"
          class="logo"
        />
        <h3>RestoApp</h3>
      </div>
    </div>
    <div class="parte">
      <p>Gestiona tus reservas desde donde estés</p>
    </div>
    <div class="boton">
      <a href="https://drive.google.com/file/d/11_bzUCVV0sZYRrdepcTm-e5ejgIzaIbo/view" target="_blank" class="boton-descarga">Descargar App</a>
    </div>
  </div>
  <div class="reservation-section">
    <div class="reservation-content">
      <h2>Gestiona tus reservas fácilmente</h2>
      <p>
        Con nuestra aplicación, puedes realizar reservas con solo unos pocos
        clics. ¿Necesitas hacer cambios? No hay problema, también puedes
        modificar o cancelar tus reservas con la misma facilidad.
      </p>
      <div class="reservation-features">
        <div class="feature">
          <img
            src="/assets/img/PageNuestraApp/Reservasapp.png"
            alt="Sacar reserva"
          />
          <div>
            <h3>Saca tus reservas</h3>
            <p>Reserva una mesa forma rápida y sencilla.</p>
          </div>
        </div>
        <div class="feature-2">
          <div>
            <h3>Ver el estado de tus reservas</h3>
            <p>Consulta el estado actual de tus reservas en cualquier momento.</p>
          </div>
          <img
            src="/assets/img/PageNuestraApp/estadoReservas.png"
            alt="Ver estado de las reservas"
          />
        </div>
        <div class="feature">
          <img
            src="/assets/img/PageNuestraApp/cancelarReserva.png"
            alt="Eliminar reserva"
          />
          <div>
            <h3>Cancela tus reservas</h3>
            <p>
              ¿Necesitas cancelar una reserva? No hay problema, puedes hacerlo con
              solo unos clics.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="categorias-container">
    <div class="cards categorias-content">
      <h2>Descubre nuestras categorías</h2>
      <p>
        Explora una amplia variedad de opciones, desde deliciosas comidas hasta
        refrescantes bebidas.
      </p>
    </div>
    <div class="image">
      <img
        src="/assets/img/PageNuestraApp/categoriasApp.png"
        alt="Categorías"
      />
    </div>
  </div>
  <div class="sucursales-container">
    <div class="image">
      <img
        class="image-sucursales"
        src="/assets/img/PageNuestraApp/sucursales.png"
        alt="Sucursales"
      />
    </div>
    <div class="cards sucursales-content">
      <h2>Encuentra nuestras sucursales cercanas</h2>
      <p>
        Descubre nuestras sucursales más cercanas y encuentra tu próximo lugar
        para disfrutar de tus platillos favoritos
      </p>
    </div>
  </div>
  <div class="contacto-container">
    <div class="cards contacto-content">
      <h2>Contáctanos</h2>
      <p>
        ¿Alguna pregunta, sugerencia o comentario? Estamos aquí para ayudarte.
        ¡Ponte en contacto con nosotros y te responderemos de inmediato!
      </p>
    </div>
    <div class="image">
      <img
        class="image-contact"
        src="/assets/img/PageNuestraApp/contacto.png"
        alt="Contacto"
      />
    </div>
  </div>
  <div class="cto-container">
    <div class="cto-content">
      <p>¿Aún no la tenés? Descargala ahora</p>
      <button class="boton-descarga"><a href="https://drive.google.com/file/d/11_bzUCVV0sZYRrdepcTm-e5ejgIzaIbo/view" target="_blank">Descargar ahora</a></button>
      <img class="qr-image" src="/assets/img/PageNuestraApp/QR.png" alt="QR" />
    </div>
  </div>
</div>
