<div class="nuestra-app-container">
    <div class="banner">
        <div class="parte">
            <h2>Descarga nuestra app</h2>
            <div class="d-flex ">
                <img src="../../../assets/img/menu.png" alt="Logo RestoApp" class="logo">
                <h3>RestoApp</h3>
            </div>
        </div>
        <div class="parte">
            <p>Gestiona tus reservas desde donde estés</p>
        </div>
        <div class="parte">
            <a href="enlace-de-descarga" class="boton-descarga">Descargar</a>
        </div>
    </div>
    <div class="categorias-container">
        <div class="categorias-content">
            <h2>Descubre nuestras categorías</h2>
            <p>Explora una amplia variedad de opciones, desde deliciosas comidas hasta refrescantes bebidas.</p>
        </div>
        <div class="image">
            <img src="../../../assets/img/PageNuestraApp/categoriasApp.png" alt="Categorías">
        </div>
    </div>
    
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>