.main-menu {
    padding: 2rem;
  }
  
  .contact-container {
    height: 45vw;
    display: flex;
    flex-direction: column;
    background-color: var(--color2);
    padding: 1rem;
    margin-top: 70px;
    border: 1px solid #000000;
    border-radius: 20px 20px;
    box-shadow: 1px 1px 0px var(--color1), 2px 2px 0px var(--color1), 3px 3px 0px var(--color2), 4px 4px 0px var(--color2),
      5px 5px 0px var(--color3);
  }
  
  .contact-info-wrapper {
    margin-top: 20px !important;
  }
  
  .contact-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-link p {
    margin-top: 5px;
    font-weight: bold;
  }
  
  .contact-form {
    margin-top: 60px !important;
  }

  .form-control{
    margin: .7em 0;
  }

  .contactForm-alert{
    padding: .3em;
    background-color:#a94442;
    color: white;
    display: inline-block;
    border-radius: 5px;
  }
  
  .responsive-map {
    overflow: hidden;
    padding-bottom: 50.25%;
    position: relative;
    height: 0;
  }
  
  .responsive-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  .btn.custom-btn {
    margin: 0 0 0 10px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color5);
    background: var(--color3);
    border: 2px solid var(--color5);
    border-radius: 5px;
    transition: 0.5s;
  }
  
  .btn.custom-btn:hover {
    color: white;
    background-color: var(--color1);
    border: 2px solid var(--color5);
  }
  
  .suscription {
    margin-top: 50px;
  }
  
  .suscription-form {
    display: flex;
    align-items: center;
  }
  
  .suscription-form button {
    margin-left: 10px;
  }

  
  @media only screen and (max-width: 1248px) {
    .contact-container {
      height: 65vw;
    }
  
    .contact-form {
      margin-top: 40px !important;
    }
  
    .responsive-map {
      padding-bottom: 70.25%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .col-sm-4 {
      width: 33% !important;
    }
    .col-sm-4 img {
      width: 30 !important;
      height: 30 !important;
    }
  
    .col-md-6 {
      margin-top: 20px !important;
    }
    .contact-container {
      height: 175vw;
    }
  
    .contact-form {
      margin-top: 0px !important;
    }
  
    .responsive-map {
      padding-bottom: 60.25%;
    }
  }
  
  @media only screen and (max-width: 425px) {
    .contact-container {
      height: 190vw;
    }
  }