<main class="main-menu">
  <section class="contact-container">
    <div class="container">
      <div class="section-header text-center">
        <h1>¡Contactanos por cualquier consulta!</h1>
      </div>
      <div class="row contact-info-wrapper">
        <div class="col-sm-4 col-md-2 col-lg-1">
          <div class="contact-info">
            <a
              href="https://goo.gl/maps/CRGbdsb5X99WVVuq7"
              class="contact-link"
              target="_blank"
            >
              <img src="./assets/img/map.png" width="39" height="37" alt="" />
              <p>Dirección</p>
            </a>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-lg-1">
          <div class="contact-info">
            <a
              href="https://wa.me/5493512292336?text=Me%20gustaría%20hacer%20una%20consulta"
              class="contact-link"
              target="_blank"
            >
              <img
                src="assets/img/whatsapp.png"
                width="37"
                height="37"
                alt=""
              />
              <p>WhatsApp</p>
            </a>
          </div>
        </div>
        <div class="col-sm-4 col-md-2 col-lg-1">
          <div class="contact-info">
            <a
              href="mailto:matias.pedernerax8@gmail.com?Subject=Tengo%20una%20consulta!"
              class="contact-link"
              target="_blank"
            >
              <img src="assets/img/email.png" width="39" height="37" alt="" />
              <p>Email</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row contact-form">
      <div class="col-md-6">
        <div class="responsive-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d212.7856055019703!2d-64.1805817!3d-31.4259799!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a291a123193d%3A0xbcfc443b98466626!2sParan%C3%A1%20671%2C%20X5000HXM%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1668430023122!5m2!1ses!2sar"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <form
          [formGroup]="contactForm"
          (ngSubmit)="onSubmitContactForm()"
          name="sentMessage"
          id="contactForm"
          novalidate="novalidate"
        >
          <div class="control-group">
            <input
              type="text"
              formControlName="name"
              class="form-control"
              id="name"
              placeholder="Nombre"
              required="required"
              data-validation-required-message="Please enter your name"
            />
            <!-- <p class="help-block text-danger"></p> -->
            <div
              *ngIf="contactoFormSended && contactForm.get('name')!.errors?.['required']"
              class="contactForm-alert"
            >
              Rellene el campo nombre
            </div>
          </div>

          <div class="control-group">
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="email"
              placeholder="Email"
              required="required"
              data-validation-required-message="Please enter your email"
            />
            <!-- <p class="help-block text-danger"></p> -->
            <div
              *ngIf="contactoFormSended && contactForm.get('email')?.errors?.['required']"
              class="contactForm-alert"
            >
              El correo electrónico es obligatorio
            </div>
            <div
              *ngIf="contactoFormSended && contactForm.get('email')?.errors?.['email']"
              class="contactForm-alert"
            >
              Por favor, introduce un correo electrónico válido
            </div>
          </div>

          <div class="control-group">
            <input
              type="text"
              class="form-control"
              id="subject"
              placeholder="Asunto"
              required="required"
              data-validation-required-message="Please enter a subject"
            />
            <!-- <p class="help-block text-danger"></p> -->
            <div
              *ngIf="contactoFormSended && contactForm.get('subject')!.errors?.['required']"
              class="contactForm-alert"
            >
              Rellene el campo con el asunto
            </div>
          </div>

          <div class="control-group">
            <textarea
              name="message"
              required="required"
              class="form-control"
              id="message"
              placeholder="Mensaje"
              data-validation-required-message="Please enter your message"
            ></textarea>
            <!-- <p class="help-block text-danger"></p> -->
            <div
              *ngIf="contactoFormSended && contactForm.get('message')!.errors?.['required']"
              class="contactForm-alert"
            >
              Rellene el campo con su mensaje
            </div>
          </div>

          <div>
            <button class="btn custom-btn" type="submit" id="Enviar Mensaje">
              Enviar mensaje
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="col-lg-5">
      <div class="suscription-container">
        <h2>Suscríbase para promociones</h2>
        <p>
          Aprovecha los beneficios e infórmate desde la tranquilidad de tu casa.
          Accede a información exclusiva desde todos tus dispositivos y ahorra
          con nuestras ofertas.
        </p>

        <form
          [formGroup]="subscriptionForm"
          (ngSubmit)="onSubmitSubscriptionForm()"
          class="suscription-form"
          novalidate="novalidate"
        >
          <input
            type="email"
            formControlName="email"
            class="form-control"
            id="email"
            placeholder="Email"
            required="required"
            data-validation-required-message="Please enter your email"
          />

          <div>
            <button class="btn custom-btn suscription">Suscribirse</button>
          </div>
        </form>

        <div class="alert-container">
          <div
            *ngIf="subscriptionFormSended && subscriptionForm.get('email')?.errors?.['required']"
            class="contactForm-alert"
          >
            El correo electrónico es obligatorio
          </div>
          <div
            *ngIf="subscriptionFormSended && subscriptionForm.get('email')?.errors?.['email']"
            class="contactForm-alert"
          >
            Por favor, introduce un correo electrónico válido
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Carrito -->
<div
  class="modal fade"
  id="modal-1"
  tabindex="-1"
  aria-labelledby="modal-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title d-flex align-items-center"
          id="exampleModalLabel"
        >
          <span class="text-info me-4">Tu Carrito</span>
          <span class="badge bg-primary rounded-pill" id="largoCarrito"></span>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="border-6 bg-light" scope="col">
                  <div class="py-2 text-uppercase">Producto</div>
                </th>
                <th class="border-0 bg-light" scope="col">
                  <div class="py-2 text-uppercase">Precio Unidad</div>
                </th>
                <th class="border-0 bg-light" scope="col">
                  <div class="py-2 text-uppercase">Cantidad</div>
                </th>
                <th class="border-0 bg-light" scope="col">
                  <div class="py-2 text-uppercase">Subtotal</div>
                </th>
                <th class="border-0 bg-light" scope="col">
                  <div class="py-2 text-uppercase">Quitar</div>
                </th>
              </tr>
            </thead>
            <tbody
              id="modal-tabla"
              *ngFor="let cartProduct of productsOnCart; let i = index"
            >
              <tr>
                <th class="border-0" scope="row">
                  <div class="p-6">
                    <img
                      class="img-fluid rounded shadow-sm me-1"
                      [src]="cartProduct.imagen"
                      alt="producto"
                      width="70"
                    />
                    <div class="ml-3 d-inline-block align-middle">
                      <h5 class="title-cart">{{ cartProduct.nombre }}</h5>
                    </div>
                  </div>
                </th>
                <td class="border-0 align-middle">
                  <strong>${{ cartProduct.precio }}</strong>
                </td>
                <td class="border-0 align-middle">
                  <input
                    [(ngModel)]="cartProduct.cantidad"
                    [ngModelOptions]="{ standalone: true }"
                    (change)="changeSubtotal(cartProduct, i)"
                    min="1"
                    type="number"
                    value="1"
                    name=""
                    class="form-control w-30"
                  />
                </td>
                <td class="border-0 align-middle">
                  <strong
                    >${{
                      cartProduct.precio * cartProduct.cantidad
                        | number : "1.2-2"
                    }}</strong
                  >
                </td>
                <td class="border-0 align-middle">
                  <button
                    (click)="removeFromCart(cartProduct)"
                    class="btn btn-danger borrar-carrito"
                    id="${_id}"
                  >
                    X
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot id="modal-foot">
              <tr>
                <td colspan="3"></td>
                <td class="table-active fw-bold text-uppercase">Total</td>
                <td id="total-field">{{ total | currency }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button
          (click)="clearCart()"
          id="borrar-todo"
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          id="borrar-todo"
        >
          Borrar Todo
        </button>
        <button
          (click)="checkout()"
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          id="btn-pago"
        >
          Pagar
        </button>
      </div>
    </div>
  </div>
</div>
