

.accordion {
  border-radius: 25px; /* Redondea los bordes del acordeón */
  overflow: hidden; /* Oculta cualquier contenido adicional que pueda desbordar */
  width: 100%;
}

.accordion-item {
  border-radius: 25px;
  /* Redondea los bordes de cada elemento */
  border: 1px solid var(--accordion-border-color);
  /* Añade un borde para resaltar los elementos */
  margin-bottom: 10px;
  /* Espacio entre elementos */
}
.accordion-header {
  padding: 10px;
  background-color: var(--accordion-header-bg);
  /* Color de fondo para el encabezado */
  cursor: pointer;
}

.accordion-flush .accordion-item .accordion-button {
  border-radius: 25px !important;
  font-family: 'PoetsenOne-Regular';
}

.accordion-button img {
  margin: 25px;
}

/* MAIN */
.main-menu {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: var(--color4);
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10vh 2rem 0 1.5rem;
  /* margin-top: 10vh; */
}

/* FILTROS */

.offcanvas-filters {
  display: none;
}

.filter-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin-bottom: 5vh;
}

/* BUSQUEDA */
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 40%;
  padding: 0.5rem;
  /* background-color: var(--color4); */
  border-radius: 10px;
}
.search-container input {
  border-radius: 10px;
  padding: 5px;
}

.search-container img {
  width: 10%;
  height: 5vh;
}

/* ORDEN */
.order-container {
  display: flex;
  width: 30%;
}
.order-container select {
  border: none;
}
.order-container h3 {
  font-size: medium;
  margin-bottom: 0;
}

/* PRODUCTOS */

.product-card {
  height: 30vh;
}

.accordion-button {
  background-color: var(--color9) !important;
  height: 10vh;
  min-width: 0%;
  font-size: 1.5rem !important;
  font-weight: bold;
  display: flex;
  color: var(--accordion-button-text-color);
}

.accordion-button:not(.collapsed){
  color:#000;
}

.accordion-body {
  display: flex;
  align-items: center;
}

.body-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.img-accordion{
  height:50px;
}

/*CARDS*/

.card {
  width: 270px;
  height: 450px;
  border: 2px solid #000;
}

.card-img-top{
  height: 152px;
}
.card-title{
  min-height: 50px; 
  overflow: hidden; 
}

.description {
  height: 7rem;
  font-style: italic;
  margin: 0px;
  overflow-y:auto;
}

.text-precio {
  color:var(--color9);
  font-size: 30px;
  font-weight: 800;
  margin-left: auto; 
  margin-top: 1rem;            
}

.card-buttons{
  margin-top: 0px;
}
.btn-agregar-carrito{
  background-color: var(--color9);
  font-weight: bold;
  border: transparent;
}
.btn-agregar-carrito:hover{
  background-color: rgb(138, 32, 0);
}
.card-body .btn-danger {
  margin-left: 5px;
}

.card-contenid p {
  padding: 0;
}

.card-contenid {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.img-card {
  height: 90%;
  width: 90%;
}

/* MODAL */

.modal-title{
  font-size: 2rem;
  text-align:center;
  font-weight: 800;
  display: block;
}


.modal-description{
  margin-top: 13px;
  font-style: italic;
}

.modal-content{
  background-color: var(--color3);
  width:100% 
  ;
}

/* CARRITO */
.cart-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color2);
  padding: 1rem;
  border: 1px solid #000000;
  border-radius: 20px 20px;
  box-shadow: 1px 1px 0px var(--color1), 2px 2px 0px var(--color1),
    3px 3px 0px var(--color2), 4px 4px 0px var(--color2),
    5px 5px 0px var(--color3);
}
.cart-products {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cart-product {
  margin: 1vh 0 1vh 0;
  display: flex;
  justify-content: space-between;
  /*align-content: center;*/
}

.cart-img {
  width: 25%;
  border-radius: 10px 10px 10px 10px;
}

.cart-trash {
  width: 10%;
  height: 6vh;
  border: none;
  background-color: transparent;
}
.cart-trash img {
  width: 100%;
}

.button-endOrder {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: var(--color4);
  border: 1px solid var(--color4);
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button-endOrder:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button-endOrder:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button-endOrder:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--color1);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button-endOrder:hover {
  color: #ffffff;
  border: 1px solid var(--color1);
}

.button-endOrder:hover:before {
  top: -35%;
  background-color: var(--color1);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button-endOrder:hover:after {
  top: -45%;
  background-color: var(--color1);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-carrito {
  position: fixed;
  height: 8vh;
  bottom: 20px;
  right: 20px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .cart-container {
    display: none;
  }
}
@media only screen and (max-width: 566px) {
  .main-menu {
    padding: 0;
  }

  .filter-container,
  .offcanvas-filters,
  .search-container,
  .search-container form,
  .filter,
  .order-container,
  .left-container,
  .product-container,
  .accordion-body,
  .img-card,
  .card-title,
  .card-text,
  .product-buttons,
  .title-cart,
  .borrar-carrito,
  .btn.btn-outline-buscar,
  .wrap-footer,
  .footer-creds {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .offcanvas-filters,
  .filter {
    display: block;
    margin-top: 8vh;
    text-align: center;
  }

  .search-container {
    position: fixed;
    margin-top: 28vh;
    z-index: 998;
    background-color: var(--color1);
    height: 10vh;
    border-radius: 0;
  }

  .search-container form {
    width: 100%;
    padding: 1rem;
  }

  .order-container {
    justify-content: flex-end;
    display: none;
  }

  .img-card {
    height: 45vh;
  }

  .accordion-button img {
    margin: 20px;
  }

  .wrap-footer {
    grid-template-columns: 35% 15% 15% 20%;
  }

  .footer-creds {
    padding: 0;
  }
}

