<div class="appmovil-container">
  <div class="welcome-app">
    <div class="banner">
      <div class="banner-content">
        <h1>¡Descarga nuestra increíble aplicación móvil!</h1>
        <p>Obtén acceso a contenido exclusivo y funciones avanzadas.</p>
      </div>
    </div>
  </div>

  <div class="app-image">
    <img src="assets/img/app-movil.png" alt="Imagen de la Aplicación" class="image-50">
  </div>

  <div class="qr-code">
    <img src="assets/img/QRapp.png.png"  alt="Código QR" class="image-50">
  </div>
</div>
