<div class="home-container">
  <div class="welcome-home">
    <h1>¡Bienvenido!</h1>
    <h3>¿Como deseas consumir?</h3>
  
    <button type="button" class="local-button">
      <a routerLink="/carta">CONSUMIR EN LOCAL</a>
    </button>
  
  </div>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/img/restaurant1.jpg" class="img-carousel d-block w-100" alt="rest1" />
      </div>
      <div class="carousel-item">
        <img src="./assets/img/restaurant2.jpg" class="img-carousel d-block w-100" alt="rest2" />
      </div>
      <div class="carousel-item">
        <img src="./assets/img/restaurant3.jpg" class="img-carousel d-block w-100" alt="rest3" />
      </div>
      <div class="carousel-item">
        <img src="./assets/img/restauran4.jpg" class="img-carousel d-block w-100" alt="rest4" />
      </div>
    </div>
</div>
<div class="floating-button">
  <button class="download-button">
    <a routerLink="/app-movil">Descargar App</a>
  </button>
</div>
</div>