<div class="home-container">
  <div class="welcome-home">
    <h1>¡Bienvenido!</h1>
    <h3>¿Como deseas consumir?</h3>

    <button type="button" class="local-button">
      <a routerLink="/carta">CONSUMIR EN LOCAL</a>
    </button>
  </div>
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="./assets/img/restaurant1.jpg"
          class="img-carousel d-block w-100"
          alt="rest1"
        />
      </div>
      <div class="carousel-item">
        <img
          src="./assets/img/restaurant2.jpg"
          class="img-carousel d-block w-100"
          alt="rest2"
        />
      </div>
      <div class="carousel-item">
        <img
          src="./assets/img/restaurant3.jpg"
          class="img-carousel d-block w-100"
          alt="rest3"
        />
      </div>
      <div class="carousel-item">
        <img
          src="./assets/img/restauran4.jpg"
          class="img-carousel d-block w-100"
          alt="rest4"
        />
      </div>
    </div>
  </div>
  <div class="floating-button">
    <button class="download-button">
      <a routerLink="/app-movil">Descargar App</a>
    </button>
  </div>
</div>

<!-- Carrito -->
<div
  class="modal fade"
  id="modal-1"
  tabindex="-1"
  aria-labelledby="modal-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title d-flex align-items-center"
          id="exampleModalLabel"
        >
          <span class="text-info me-4">Tu Carrito</span>
          <span class="badge bg-primary rounded-pill" id="largoCarrito"></span>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="border-6 bg-light" scope="col">
                  <div class="py-2 text-uppercase">Producto</div>
                </th>
                <th class="border-0 bg-light" scope="col">
                  <div class="py-2 text-uppercase">Precio Unidad</div>
                </th>
                <th class="border-0 bg-light" scope="col">
                  <div class="py-2 text-uppercase">Cantidad</div>
                </th>
                <th class="border-0 bg-light" scope="col">
                  <div class="py-2 text-uppercase">Subtotal</div>
                </th>
                <th class="border-0 bg-light" scope="col">
                  <div class="py-2 text-uppercase">Quitar</div>
                </th>
              </tr>
            </thead>
            <tbody
              id="modal-tabla"
              *ngFor="let cartProduct of productsOnCart; let i = index"
            >
              <tr>
                <th class="border-0" scope="row">
                  <div class="p-6">
                    <img
                      class="img-fluid rounded shadow-sm me-1"
                      [src]="cartProduct.imagen"
                      alt="producto"
                      width="70"
                    />
                    <div class="ml-3 d-inline-block align-middle">
                      <h5 class="title-cart">{{ cartProduct.nombre }}</h5>
                    </div>
                  </div>
                </th>
                <td class="border-0 align-middle">
                  <strong>${{ cartProduct.precio }}</strong>
                </td>
                <td class="border-0 align-middle">
                  <input
                    [(ngModel)]="cartProduct.cantidad"
                    [ngModelOptions]="{ standalone: true }"
                    (change)="changeSubtotal(cartProduct, i)"
                    min="1"
                    type="number"
                    value="1"
                    name=""
                    class="form-control w-30"
                  />
                </td>
                <td class="border-0 align-middle">
                  <strong
                    >${{
                      cartProduct.precio * cartProduct.cantidad
                        | number : "1.2-2"
                    }}</strong
                  >
                </td>
                <td class="border-0 align-middle">
                  <button
                    (click)="removeFromCart(cartProduct)"
                    class="btn btn-danger borrar-carrito"
                    id="${_id}"
                  >
                    X
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot id="modal-foot">
              <tr>
                <td colspan="3"></td>
                <td class="table-active fw-bold text-uppercase">Total</td>
                <td id="total-field">{{ total | currency }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button
          (click)="clearCart()"
          id="borrar-todo"
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          id="borrar-todo"
        >
          Borrar Todo
        </button>
        <button
          (click)="checkout()"
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          id="btn-pago"
        >
          Pagar
        </button>
      </div>
    </div>
  </div>
</div>
