.premios-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center; /* Esto centra verticalmente los elementos hijos */
  width: 95%;
  margin: 0 auto;
}

.premios-contenid {
  display: flex;
  margin-top: 9.375rem;
  flex-direction: column;
}

.premios-contenid p {
  font-family: 'PoetsenOne-Regular';
}

h1 {
  font-family: 'PoetsenOne-Regular';
}

h5 {
  font-family: 'PoetsenOne-Regular';
}

.cards-container {
  display: flex;
  background-color: var(--color2);
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

.cards-contenid {
  background-color: var(--color4);
  width: 18.75rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.cards-img img {
  width: 100%;
  height: 14rem;
}

.cards-text {
  padding: 1rem 1rem 0 1rem;
}
