<div class="premios-container">
  <div class="premios-contenid">
    <div>
      <h2>Canje de premios</h2>
      <p>
        Ahora, con cada compra, sumá beneficios exclusivos como nunca imaginaste
        💰💥. Podés canjear tus puntos por cualquiera de nuestros productos.
      </p>

      <p>Cada $1.000 consumidos, ganas 100 puntos.</p>
      <p>A continuación les mostramos nuestra tienda de canje:</p>
    </div>

    <div class="cards-container">
      <div class="cards-contenid">
        <div class="cards-img">
          <img src="./../../../assets/img/20off.png" />
        </div>
        <div class="cards-text">
          <b>6.000 PUNTOS</b>
          <p>20% off en todos los productos.</p>
        </div>
      </div>

      <div class="cards-contenid">
        <div class="cards-img">
          <img src="./../../../assets/img/40off.png" />
        </div>
        <div class="cards-text">
          <b>10.000 PUNTOS</b>
          <p>40% off en todos los productos.</p>
        </div>
      </div>

      <div class="cards-contenid">
        <div class="cards-img">
          <img src="./../../../assets/img/ravioles.png" />
        </div>
        <div class="cards-text">
          <b>15.000 PUNTOS</b>
          <p>Válido para cualquier plato de pastas</p>
        </div>
      </div>

      <div class="cards-contenid">
        <div class="cards-img">
          <img src="./../../../assets/img/chorrillana.jpg" />
        </div>
        <div class="cards-text">
          <b>22.000 PUNTOS</b>
          <p>Válido para cualquier plato principal.</p>
        </div>
      </div>
    </div>
  </div>
</div>
