<header>
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="./"
        ><img
          src="./assets/img/logo.png"
          alt="Logo"
          class="logo"
          style="max-height: 58px; width: auto"
      /></a>
      <button
        type="button"
        class="btn btn-danger btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#detalleModal"
      >
        Reservas
      </button>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/carta">CARTA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/nosotros">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactanos">CONTACTANOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/premios">PREMIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">PERFIL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shows">SHOWS</a>
          </li>
        </ul>
        <div class="botones-accion">
          <input type="checkbox" class="checkbox" id="checkbox" />
          <label for="checkbox" class="checkbox-label">
            <i class="fas fa-moon">☾</i>
            <i class="fas fa-sun">☀</i>
            <span class="ball"></span>
          </label>

          <div class="imgCarrito">
            <img
              src="/assets/img/carrito.png"
              height="40"
              width="40"
              data-bs-toggle="modal"
              data-bs-target="#modal-1"
              alt="carrito"
              id="btn-carrito"
            />
            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
            <span
              class="position-absolute top-40 start-20 translate-middle badge rounded-pill bg-dark"
              id="largoCarrito"
            ></span>
          </div>
          <button class="button-app">
            <a class="nav-link" routerLink="/nuestraApp">NUESTRA APP</a>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<!-- Modal -->
<div
  class="modal fade"
  id="detalleModal"
  tabindex="-1"
  aria-labelledby="detalleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div
      class="modal-content modal-content-wrapper"
      style="
        background-image: url('/assets/img/fondo.jpg');
        background-size: cover;
      "
    >
      <div class="modal-header" style="position: relative">
        <h5
          class="modal-title"
          id="detalleModalLabel"
          style="
            font-weight: 900;
            color: yellow;
            font-style: italic;
            display: inline-block;
          "
        >
          Reserva tu lugar !!
        </h5>

        <img
          src="/assets/img/usuario.png"
          alt="Usuario"
          style="
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
          "
        />
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group" style="position: relative">
            <input
              type="text"
              class="form-control w-50"
              id="nombre"
              formControlName="nombre"
              required
            />
            <label for="nombre" class="nombre-label">Nombre completo</label>
          </div>

          <div class="form-group" style="position: relative">
            <input
              type="date"
              class="form-control w-50"
              id="fecha"
              formControlName="fecha"
              required
            />
            <label for="fecha" class="fecha-label"></label>
          </div>

          <div class="form-group" style="position: relative">
            <input
              type="time"
              class="form-control w-50"
              id="hora"
              formControlName="hora"
              required
            />
            <label for="hora" class="hora-label"></label>
          </div>

          <div class="form-group" style="position: relative">
            <input
              type="number"
              class="form-control w-50"
              formControlName="comensales"
              id="comensales"
              required
            />
            <label for="comensales" class="comensales-label"
              >Cantidad de personas</label
            >
          </div>

          <div class="form-group">
            <input
              type="text"
              formControlName="email"
              placeholder="Correo electrónico"
              class="form-control w-75"
            />

            <label
              class="text-danger small"
              *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['email']"
            >
              {{ getError(form.controls["email"]) }}
            </label>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-cancelar"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-confirmar">
              Confirmar Reserva
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
