.banner {
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5vh;
}
.banner h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-bottom: 10vh;
  color: #f2f2f2;
  width: 100%;
  height: 12vh;
  background-color: #00000080;
  font-family: 'PoetsenOne-Regular';
}

.aboutUs-img {
  width: 100%;
  height: 60vh;
  position: absolute;
  z-index: -1;
}

.about-container {
  display: flex;
  flex-direction: row;
  padding: 5vh 10vw 5vh 10vw;
}

.img-about {
  width: 45%;
  height: 110vh;
  transition: transform 1s;
}

.img-about:hover {
  transform: scale(1.05);
}
.about-container .text-container {
  width: 50%;
  margin-left: 8vw;
}

.text-container .title-about {
  font-size: 23px;
  margin-bottom: 10vh;
  font-family: 'PoetsenOne-Regular';
}

.text-container p {
  font-family: 'PoetsenOne-Regular';
}

.history-section {
  display: flex;
  margin-top: 10vh;
  margin-right: 15vw;
}

  .history-section img {
    width: 40%;
  }
  
  .history-section .text-container{
    background-color: var(--color1);
    padding: 2rem;
    color: var(--color5);
  }

.history-section .text-container h3 {
  text-align: center;
  margin-bottom: 5vh;
}

.team-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  padding: 2rem;
  width: 100%;
  text-align: center;
  /* background-color: #fdeedc; */
}

.team-section h2 {
  font-family: 'PoetsenOne-Regular';
}

h3 {
  font-family: 'PoetsenOne-Regular';
}

.team-section p {
  font-family: 'PoetsenOne-Regular';
}

.cards-container {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 23%;
  height: 50vh;
  border: none;
  box-shadow: 10px 10px 10px 10px #00000020;
  transition: transform 0.3s;
  text-align: start;
}

.card:hover {
  transform: scale(1.04);
}

.card-body .card-title {
  color: #0c0f0e;
  font-family: 'PoetsenOne-Regular';
}

  .card-body h6{
    color: #050709;
  }
  .chefCard-img {
    width: 100%;
    height: 30vh;
    border-radius: 5px;
  }

  .icons-container{
    margin-top: 3vh;
    display: flex;
    justify-content: flex-end;
  }
  
  i.fa{
    font-size: 20px;
    margin-right: 10px;
    transition: transform .5s;
    color:#2E343B;
  }

i.fa:hover {
  transform: scale(1.3);
}

@media only screen and (max-width: 1248px) {
  .about-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
  }

  .about-container img {
    height: 70%;
    margin: 2em auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra suave */
  }

  .about-container .text-container {
    width: 100%;
    margin: auto;
  }

  .history-section {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
  }

  .history-section img {
    width: 100%;
  }

  /* card chefs */
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1em auto;
    gap: 1em;
  }

  .card {
    width: 100%;
    box-shadow: 7px 7px 7px 7px #00000020;
  }

  .card-title{
    font-size: 1.2em;
    margin: none;
  }

  .card-body > * {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .icons-container,
  .card-body h6 {
    margin: 1em 0;
  }

  .chefCard-img {
    height: 40%;
  }
}
