<footer>
  <div class="pre-footer">
    <!-- <h5>LOGO CARTA DIGITAL</h5> -->
    <img src="assets/img/menu.png" class="logo" alt="" />
    <p>©2023 · Todos los derechos reservados | Desarrollado por <a href="#" class="link-warning">Tuwebapp</a></p>
    <div class="icons">
      <a href=""><i class="fa fa-facebook"></i></a>
      <a href=""><i class="fa fa-instagram"></i></a>
      <a href=""><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
  <hr>
  <div class="legales">
    <a href="#" class="link-light">Politica de privacidad</a>
    <a href="#" class="link-light">Politica Cookies</a>    
    <a href="#" class="link-light">Aviso Legal</a>
        
  </div>
</footer>
