footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0c0f0e;
  color: #ffffff;
  font-weight: bold;
}

.pre-footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 3vh;
  width: 100%;
}
.pre-footer p {
  margin: 0;
}
.logo {
  height: 10vh;
  width: 5vw;
}
.icons i {
  font-size: 20px;
  color: #ffffff;
  margin-right: 2vw;
}

.legales {
  text-align: end;
  padding: 1vh 0 1vh 0;
  width: 100%;
}

.legales a {
  margin-right: 2vw;
}

hr {
  width: 90%;
}
